body {
    background-color: rgb(114, 114, 114);
    padding: 40px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(253, 253, 253);
    margin: 0;
    padding: 0;
    height: 100%;
    text-decoration: none;
    box-shadow:
        inset #474849  0 0 0 10px;
}

/*DEFAULT*/
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(207, 207, 207);
    padding: 20px 20px 20px 20px;
    /* border-radius: 50%;  */
    
};

/*NEW CHARACTER CREATOR*/
.textarea {
    resize: none;
    height: 150px;
    width: 500px;
}

/*HOMEPAGE*/
.homepage {
padding: 50px 10px 10px 10px; 
text-align: center;
font-size: 40px;
};
.home {
  background-color: darkslategray;
};
.homeVideo {
border: 2em; 
}
.footer {
position: absolute;
bottom: 0;
width: 100%; 
height: 60px; 
background-color: grey;
padding: 0px 50px 0px 0px;
text-align: center;
}
.homeContainer {
position: relative; 
min-height: 100vh; 
}
.newCreateCharacter {
display: inline-flex;
flex-basis: auto;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 200px;
}




/*INDEX*/
.indexClass {
    display: inline-flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.spellIndex {
display: inline-table;    
flex-basis: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px ;
    padding: 30px 20px 100px 30px;
}

.spellShow {
  display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px ;
    padding: 10px 30px 10px 30px;
}
.classIndex{
  display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px ;
    padding: 10px 30px 10px 30px;
}

.raceIndex {
  display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px ;
    padding: 10px 30px 10px 30px;
}

.createIndex {
  display: inline-flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px ;
    padding: 10px 30px 10px 30px;
}

.showClass {
    display: inline-flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px ;
    padding: 10px 30px 10px 30px;
}

.showRace{
  display: inline-flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px ;
    padding: 10px 30px 10px 30px;
}

.showCreateCharacter {
  display: inline-flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 10px 20px ;
  padding: 10px 30px 10px 30px;
}
/*DROPDOWN MENU*/
.dropbtn {
    background-color: rgb(114, 114, 114);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 12%;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    opacity: 80%;
  }

  .dropdown-content a {
    display: block;
    color: black;
    padding: 12px 12px ;
    text-decoration: none;

  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: rgb(114, 114, 114);}


  /*NEW CHARACTER CREATOR*/
  textarea {
      resize: none;
      height: 150px;
      width: 500px;
  }


  /*HOMEPAGE*/
.homepage {
  padding: 50px 10px 10px 10px; 
  text-align: center;
  font-size: 40px;
};

.homeContainer {
  position: relative; 
  min-height: 100vh; 
}
.newCreateCharacter {
  display: inline-flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 200px;
}

/*EQUIPMENT*/
.showEquipmentContainer {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
}
.equipmentIndex {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px; 
  padding: 50px 0px 0px 0px;
}

.weaponImage {
  border-radius: 20%;
}
 indexTitle {
   font-size: 100px;
   color: black 
 }